@model string

<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <img src="~/@Model">
            </div>
        </div>
    </div>
</div>
