
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body>
        <section class="section">
            <div class="col-lg-5">
                <div class="alert alert-dark alert-dismissible fade show" role="alert">
                    <i class="bi bi-info-circle me-1"></i>
                    Take photo from camera to match with pallet racking!
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Upload Image</h5>
                            <form id="uploadForm" enctype="multipart/form-data">
                                    <div class="row mb-3">
                                        <label for="inputNumber" class="col-sm-2 col-form-label">File Upload</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" type="file" id="fileInput" name="file" accept="image/*" required>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-sm-10">
                                            <!-- Button when not analyzing -->
                                            <button type="submit" class="btn btn-primary" id="analyzeButton">Analyze</button>

                                            <!-- Button when analyzing -->
                                            <button class="btn btn-primary" type="button" id="analyzingButton" disabled style="display: none;">
                                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                Analyzing...
                                            </button>

                                            <!-- Clear button -->
                                            <button type="button" class="btn btn-secondary" id="clearButton"><i class="bi bi-trash"></i> Clear</button>
                                        </div>
                                    </div>

                            
                            </form><!-- End General Form Elements -->
                            <div id="resultCard" disabled style="display: none;">
                                <h5 class="card-title">Result</h5>
                                <div id="emptySlots"></div>
                            </div>
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <i class="bi bi-exclamation-octagon me-1"></i>
                                @TempData["Message"]
                            </div>
                        }
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" id="processedCard" disabled style="display: none;">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">Processed Image</h5>
                                <div id="response">
                                    <img id="resultImage" alt="Result will appear here" style="max-width: 100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        @* <form id="uploadForm" enctype="multipart/form-data">
            <label for="fileInput">Upload an Image:</label>
            <input type="file" id="fileInput" name="file" accept="image/*" required>
            <button type="submit">Process</button>
        </form> *@
    
    <script>
        $(document).ready(function () {
            // Initially hide the "Analyzing..." button
            $("#analyzingButton").hide();
            $("#processedCard").hide();
            $("#resultCard").hide();
            // Handle form submission
            $("#uploadForm").on("submit", function (e) {
                e.preventDefault();

                // Show the "Analyzing..." button and hide the "Analyze" button
                $("#analyzeButton").hide();
                $("#analyzingButton").show();
                $("#processedCard").hide();
                $("#resultCard").hide();
                // Clear any previously displayed processed image and empty slots
                $("#resultImage").attr("src", "");
                $("#emptySlots").text("");  // Clear the empty slots display

                var formData = new FormData(this);

                $.ajax({
                    url: "/Home/AnalyzeImage",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        // Reset button states
                        $("#processedCard").show();
                        $("#analyzingButton").hide();
                        $("#analyzeButton").show();
                        $("#resultCard").show();
                        // Display processed image
                        $("#resultImage").attr("src", "data:image/png;base64," + response.image);

                        // Display empty slots
                        if (response.emptySlots.length > 0) {
                            var slotsHtml = '<ul class="list-group">';
                            response.emptySlots.forEach(function (slot) {
                                slotsHtml += `
                                <li class="list-group-item d-flex justify-content-between align-items-center">${slot}
                                 <span class="badge bg-danger"><i class="bi bi-exclamation-octagon me-1"></i> Empty</span>
                                </li>`;
                            });
                            slotsHtml += '</ul>';
                            $("#emptySlots").html(slotsHtml);
                        } else {
                            $("#emptySlots").html(`<div class="alert alert-success alert-dismissible fade show" role="alert"><i class= "bi bi-check-circle me-1"> </i>No empty slot available! </div>`);
                        }

                    },
                    error: function () {
                        // Reset button states on error
                        $("#processedCard").hide();
                        $("#analyzingButton").hide();
                        $("#analyzeButton").show();
                        $("#resultCard").hide();
                        alert("Error processing the image!");
                    }
                });
            });

            // Handle clear button click to reset form and image display
            $("#clearButton").on("click", function () {
                // Clear the file input
                $("#fileInput").val("");

                // Clear the processed image
                $("#resultImage").attr("src", "");

                // Clear the empty slots log
                $("#emptySlots").html("");  // Clear empty slots section

                $("#processedCard").hide();
                $("#resultCard").hide();
            });
        });
    </script>

</body>
